<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>

<form method="post" th:action="@{/auth/register}" th:object="${person}">
  <label for="username">Введите имя пользователя:</label>
  <input type="text" th:field="*{username}" name="username" id="username"/>
  <p th:if="${#fields.hasErrors('username')}" th:errorclass="errors"
     th:errors="*{username}" />
  <br/>
  <label for="password">Введите пароль:</label>
  <input type="text" th:field="*{password}" name="password" id="password"/>
  <p th:if="${#fields.hasErrors('password')}" th:errorclass="errors"
     th:errors="*{password}" />
  <br/>
  <input type="submit" value="Sign in"/>
</form>

</body>
</html>